$primary-color: #D3C400;
$light-primary-color: #FFF465;
$secondary-color: #2F4858;
$grey-color: rgb(179, 179, 179);
$dark-grey-color: rgb(105, 105, 105);
$white-color: rgb(240, 240, 240);
$red-color: #FF2D94;
$pink-color: #FF57FF;
$blue-color: #006A7C;
$light-blue-color: #008E85;
$green-color: #00AF72;
$light-green-color: #80CA47;